<h1>Candidates</h1>

<hr>

<!-- Dropdown Lists Row -->
<div class="row">

  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="ddlStates" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        States
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlStates">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="ddlStates" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Districts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlStates">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="ddlStates" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Townships
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlStates">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="ddlStates" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Towns
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlStates">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="ddlStates" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Wards
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlStates">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="ddlStates" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Village Tracts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlStates">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

</div>
<!-- End of Dropdown Lists Row -->

<hr>

<!-- Candidate Result Row -->
<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upper House</h3>
      </div>
      <div class="panel-body">
        Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
      </div>
      <!-- List group -->
      <ul class="list-group">
        
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix">
          <div class="col-sm-2">
            <img src="" alt="" width="50px">
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  List group item heading
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">
                  Use contextual classes to style list items, default or linked.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix">
          <div class="col-sm-2">
            <img src="" alt="" width="50px">
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  List group item heading
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">
                  Use contextual classes to style list items, default or linked.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->          
      </ul>
      <!-- End of List group -->        
    </div>      
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lower House</h3>
      </div>
      <div class="panel-body">
        Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
      </div>
      <!-- List group -->
      <ul class="list-group">
        
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix">
          <div class="col-sm-2">
            <img src="" alt="" width="50px">
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  List group item heading
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">
                  Use contextual classes to style list items, default or linked.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix">
          <div class="col-sm-2">
            <img src="" alt="" width="50px">
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  List group item heading
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">
                  Use contextual classes to style list items, default or linked.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->          
      </ul>
      <!-- End of List group -->      
    </div>        
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">State House</h3>
      </div>
      <div class="panel-body">
        Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
      </div>
     <!-- List group -->
      <ul class="list-group">
        
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix">
          <div class="col-sm-2">
            <img src="" alt="" width="50px">
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  List group item heading
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">
                  Use contextual classes to style list items, default or linked.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix">
          <div class="col-sm-2">
            <img src="" alt="" width="50px">
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  List group item heading
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">
                  Use contextual classes to style list items, default or linked.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->          
      </ul>
      <!-- End of List group -->          
    </div>        
  </div>

</div>
<!-- End of Candidate Result Row -->  
