<h1>Candidates</h1>

<hr>

<!-- Dropdown Lists Row -->
<div class="row">

  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle regionbtn" type="button" id="ddlStates" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{selectedStateName}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlStates">
        <li ng-repeat="state in states">
          <a ng-click="selectState(state)">{{state.State_Region_Mya_MM3}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle regionbtn" type="button" id="ddlDistricts" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{selectedDistrictName}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlDistricts">
        <li ng-repeat="district in districts">
          <a ng-click="selectDistrict(district)">{{district.District_Mya_MM3}}</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle regionbtn" type="button" id="ddlTownship" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{selectedTownshipName}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ddlTownship">
        <li ng-repeat="township in townships">
          <a ng-click="selectTownship(township)">{{township.Township_Mya_MM3}}</a>
        </li>
      </ul>
    </div>
  </div>

</div>
<!-- End of Dropdown Lists Row -->

<hr>

<!-- Candidate Result Row -->
<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upper House
        <button class="btn btn-default" ng-click="getUpperGuys()">Query</button>
        </h3>
        
      </div>
      <div class="panel-body">
        
      </div>
      <!-- List group -->
      <ul class="list-group">
        
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix" ng-repeat="upperCandidate in upperCandidates.data">
          <div class="col-sm-2">
            <img ng-src="{{upperCandidate.photo_url}}" class="img-circle" width="30">
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  {{upperCandidate.name}}                  
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">       
                  {{upperCandidate.legislature}}           
                  {{upperCandidate.constituency.name}}
                  {{upperCandidate.party.partyname}}
                  <!-- <img ng-src="{{upperCandidate.party.party_flag}}" class="" width="10" height="10"> -->
                  <!-- <img ng-src="{{upperCandidate.party.party_seal}}" class="" width="10" height="10"> -->
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->       
      </ul>
      <!-- End of List group -->        
    </div>      
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lower House
        <button class="btn btn-default" ng-click="getLowerGuys()">Query</button>
        </h3>
        
      </div>
      <div class="panel-body">
        
      </div>
      <!-- List group -->
      <ul class="list-group">
        
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix" ng-repeat="lowerCandidate in lowerCandidates.data">
          <div class="col-sm-2">
            <!-- <img ng-src="{{lowerCandidate.photo_url}}" class="img-circle" width="30"> -->
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  {{lowerCandidate.name}}                  
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">       
                  {{lowerCandidate.legislature}}           
                  {{lowerCandidate.constituency.name}}
                  {{lowerCandidate.party.partyname}}
                  <!-- <img ng-src="{{lowerCandidate.party.party_flag}}" class="" width="10" height="10"> -->
                  <!-- <img ng-src="{{lowerCandidate.party.party_seal}}" class="" width="10" height="10"> -->
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->       
        
      </ul>
      <!-- End of List group -->      
    </div>        
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">State House
        <button class="btn btn-default" ng-click="getStateGuys()">Query</button>
        </h3>

      </div>
      <div class="panel-body">
        
      </div>
     <!-- List group -->
      <ul class="list-group">
        
        <!-- List Item -->
        <a href="#" class="list-group-item clearfix" ng-repeat="stateCandidate in stateCandidates.data">
          <div class="col-sm-2">
            <!-- <img ng-src="{{stateCandidate.photo_url}}" class="img-circle" width="30"> -->
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="list-group-item-heading">
                  {{stateCandidate.name}}                  
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="list-group-item-text">                  
                  {{stateCandidate.legislature}}
                  {{stateCandidate.constituency.name}}
                  {{stateCandidate.party.partyname}}
                  <!-- <img ng-src="{{stateCandidate.party.party_flag}}" class="" width="10" height="10"> -->
                  <!-- <img ng-src="{{stateCandidate.party.party_seal}}" class="" width="10" height="10"> -->
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of List Item -->    
       
      </ul>
      <!-- End of List group -->          
    </div>        
  </div>

</div>
<!-- End of Candidate Result Row -->  
